body {
    background-color: rgb(7, 7, 7);
    }
h1{
    font-family: serif;
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
}
.board{
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url(/img/board.jpg) no-repeat;
    border: 4px solid rgb(83, 175, 19);
}
#messageArea{
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(243, 243, 243);

}
/* таблиця вирівнюється по сітці фонового зображення */
table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}
/* Клітини таблиці вирівнюються за клітинами сітки зображення. */
   td {
    width: 94px;
    height: 94px;
      }
/* Елемент <form> відображатиметься у правому нижньому куті ігрового поля */
   form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: rgb(83, 175, 19);
   }
/* до двох елементів <input> застосовуються стилі, щоб вони відповідали оформленню ігрового поля */
   form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 20px;
   }
/* призначити потрібне зображення фоном  елемента <td> */
/* Якщо елемент відноситься до класу hit, то йому призначається фонове зображення ship.png. */
.hit {
    background: url(/img/Ship.png) no-repeat center center;
   }
/* Якщо елемент відноситься до класу miss,йому призначається фонове зображення miss.png */
.miss {
    background: url(/img/Miss.png) no-repeat center center;
   }